hr{
    color: rgb(176, 181, 185);
    border-width: 1px;
    border-style: solid;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen1{
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;

}
.contenido{
    font-family: cursive;
    margin: 20px;
}

